.root {
  padding: 20px;
}
.image {
  position: relative;
}
.verticalSlider {
  position: relative;
  /* transform: rotate(90deg); */
  /* left: -150px; */
  /* width: 100px; */
}
.horizontalSlider {
  /* position: relative; */
  /* top: 50px; */
  /* left: -120px; */
  width: 100px;
}
