.canvas {
  border: 2px solid gray;
  pointer-events: none;
  transform-origin: top left;
}
.wrapper {
  overflow: hidden;
  width: 80vw;
  height: 80vw;
  max-width: 667px;
  max-height: 667px;
}

.buttonLogo {
  width: 120px;
  border: 2px solid gray;
  margin: 5px;
  border-radius: 100%;
}
.selected {
  border: 3px solid rgb(145, 61, 61);
}
